<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/galery.css" />
    <title>Chaplin | Galery</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/works">Works</a>
        </li>
        <li>
          <a href="/galery">Galery</a>
        </li>
      </ul>
    </nav>
    <section>
      <h1>
        A tramp, a gentleman, a poet, a dreamer, a lonely fellow, always hopeful
        of romance and adventure.
      </h1>
      <ul>
        <li>
          <img
            src="/images/Galery/Chaplin_and_Purviance_in_Work.jpg"
            alt="Chaplin and Purviance in Work"
          />
        </li>
        <li>
          <img src="/images/Galery/Chaplin_City_Lights_still.jpg  " alt="Chaplin_City_Lights_still" />
        </li>
        <li><img src="/images/Galery/Chaplin_family_1961.jpg" alt="Chaplin_family_1961" /></li>
        <li><img src="/images/Galery/Chaplin_in_Sherlock_Holmes.jpg" alt="Chaplin_in_Sherlock_Holmes" /></li>
        <li><img src="/images/Galery/Chaplin_Making_a_Living_2.jpg" alt="Chaplin_Making_a_Living_2" /></li>
        <li><img src="/images/Galery/Chaplin_oscar.jpeg" alt="Chaplin_oscar" /></li>
        <li><img src="/images/Galery/Charlie_Chaplin_playing_the_cello_1915.jpg" alt="Charlie_Chaplin_playing_the_cello_1915" /></li>
        <li><img src="/images/Galery/Charlie_Chaplin_portrait.jpg" alt="Charlie_Chaplin_portrait" /></li>
        <li><img src="/images/Galery/Charlie_Chaplin_with_doll.jpg" alt="Charlie_Chaplin_with_doll" /></li>
        <li><img src="/images/Galery/Limelight_promo_crop.jpg" alt="Limelight_promo_crop" /></li>
        <li><img src="/images/Galery/The_Great_Dictator_still_cropped.jpg" alt="The_Great_Dictator_still_cropped" /></li>
        <li><img src="/images/Galery/The_Tramp_Essanay.jpg" alt="The_Tramp_Essanay" /></li>
      </ul>
    </section>
  </body>
</html>
