<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <title>Chaplin | Home</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/works">Works</a>
        </li>
      </ul>
    </nav>
    <header>
      <h1>Charlie Chaplin</h1>
      <p>"Simplicity is a difficult thing to achieve."</p>
    </header>
  </body>
</html>
