<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/works.css" />
    <title>Chaplin | Works</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/works">Works</a>
        </li>
        <li>
            <a href="/galery">Galery</a>
        </li>
      </ul>
    </nav>
    <section>
      <h1>Charlie Chaplin life works</h1>
      <p>
        In 1964 Chaplin established his official filmography with the
        publication of his book, My Autobiography. The filmography consisted of
        80 motion pictures released since 1914.
      </p>
      <ul>
        <li>Making a Living</li>
        <li>Kid Auto Races at Venice</li>
        <li>Mabel's Strange Predicament</li>
        <li>A Thief Catcher</li>
        <li>Between Showers</li>
        <li>A Film Johnnie</li>
        <li>Tango Tangles</li>
        <li>His Favorite Pastime</li>
        <li>Cruel, Cruel Love</li>
        <li>The Star Boarder</li>
        <li>Mabel at the Wheel</li>
        <li>Twenty Minutes of Love</li>
        <li>Caught in a Cabaret</li>
        <li>Caught in the Rain</li>
        <li>A Busy Day</li>
        <li>The Fatal Mallet</li>
        <li>Her Friend the Bandit</li>
        <li>The Knockout</li>
        <li>Mabel's Busy Day</li>
        <li>Mabel's Married Life</li>
        <li>Laughing Gas</li>
        <li>The Property Man</li>
        <li>The Face on the Barroom Floor</li>
        <li>Recreation</li>
        <li>The Masquerader</li>
        <li>His New Profession</li>
        <li>The Rounders</li>
        <li>The New Janitor</li>
        <li>Those Love Pangs</li>
        <li>Dough and Dynamite</li>
        <li>Gentlemen of Nerve</li>
        <li>His Musical Career</li>
        <li>His Trysting Place</li>
        <li>Getting Acquainted</li>
        <li>His Prehistoric Past</li>
        <li>Tillie's Punctured Romance</li>
        <li>His New Job</li>
        <li>A Night Out</li>
        <li>The Champion</li>
        <li>In the Park</li>
        <li>A Jitney Elopement</li>
        <li>The Tramp</li>
        <li>By the Sea</li>
        <li>Work</li>
        <li>A Woman</li>
        <li>The Bank</li>
        <li>Shanghaied</li>
        <li>A Night in the Show</li>
        <li>A Burlesque on Carmen</li>
        <li>Police</li>
        <li>Triple Trouble</li>
        <li>The Floorwalker</li>
        <li>The Fireman</li>
        <li>The Vagabond</li>
        <li>One A.M.</li>
        <li>The Count</li>
        <li>The Pawnshop</li>
        <li>Behind the Screen</li>
        <li>The Rink</li>
        <li>Easy Street</li>
        <li>The Cure</li>
        <li>The Immigrant</li>
        <li>The Adventurer</li>
        <li>A Dog's Life</li>
        <li>The Bond</li>
        <li>Shoulder Arms</li>
        <li>Sunnyside</li>
        <li>A Day's Pleasure</li>
        <li>The Kid</li>
        <li>The Idle Class</li>
        <li>Pay Day</li>
        <li>The Pilgrim</li>
        <li>A Woman of Paris</li>
        <li>The Gold Rush</li>
        <li>The Circus</li>
        <li>City Lights</li>
        <li>Modern Times</li>
        <li>The Great Dictator</li>
        <li>Monsieur Verdoux</li>
        <li>Limelight</li>
        <li>A King in New York</li>
        <li>A Countess from Hong Kong</li>
        <li>Life</li>
        <li>How to Make Movies</li>
        <li>The Professor</li>
        <li>Nice and Friendly</li>
        <li>A Woman of the Sea</li>
        <li>All at Sea</li>
        <li>The Freak</li>
      </ul>
    </section>
  </body>
</html>
