@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    font-size: 20px;
}

body {
    font-family: 'Satisfy', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('/images/Chaplin_The_Kid_2_crop.jpg') top center/cover;
    box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.5);
}

nav ul {
    display: flex;
    align-items: center;
    height: 70px;
    gap: 30px;
}

section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}

h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 3rem;
}

p {
    margin: 20px 50px;
}

ul {
    width: 100%;
    padding: 20px 100px;
    margin-bottom: 100px;
}